
.command-list {
    display: flex;
    flex-direction: column;
    gap: 8px;

    flex: 1;
}

.command {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 160px;
    height: 32px;
    padding: 0 8px 4px;

    background-image: url('../assets/images/gui/command.png');
    cursor: pointer;

    transition: .15s;
}

.command:hover {
    filter: sepia(1);
}

.command .actions {
    display: flex;
    align-items: center;
    gap: 4px;
}

.command .count {
    font-weight: 800;
}

.palette-commands .command.sortable-ghost {
    display: none;
}

.program-commands .command .count {
    display: none;
}

.command-icon {
    width: 20px;
    height: 20px;

    background-size: contain;
}

.step-arrow {
    filter: hue-rotate(0deg) saturate(0%) brightness(0%) invert();
}

.attack-arrow {
    filter: hue-rotate(0deg) saturate(60%) brightness(100%);
}

.use-arrow {
    filter: hue-rotate(270deg) saturate(80%) brightness(80%);
}

.arrow-down {
    background-image: url('../assets/images/gui/commands/icons/arrow-down.png');
}

.arrow-down-left {
    background-image: url('../assets/images/gui/commands/icons/arrow-down-left.png');
}

.arrow-down-right {
    background-image: url('../assets/images/gui/commands/icons/arrow-down-right.png');
}

.arrow-left {
    background-image: url('../assets/images/gui/commands/icons/arrow-left.png');
}

.arrow-right {
    background-image: url('../assets/images/gui/commands/icons/arrow-right.png');
}

.arrow-up {
    background-image: url('../assets/images/gui/commands/icons/arrow-up.png');
}

.arrow-up-left {
    background-image: url('../assets/images/gui/commands/icons/arrow-up-left.png');
}

.arrow-up-right {
    background-image: url('../assets/images/gui/commands/icons/arrow-up-right.png');
}

