
.controls {
    display: flex;
    gap: 8px;

    height: 80px;
    padding: 8px;

    background-image: url('../assets/images/gui/sidebar.png');

    border: 1px solid #56341f;
    border-top: none;
    border-right: none;
    border-bottom-left-radius: 8px;

    box-shadow: #635d51 4px -4px 4px -4px inset;
}

.controls .button {
    width: 64px;
    height: 64px;

    border: 1px solid #56341f;
    border-radius: 8px;
    background-color: #8888;
    background-size: 48px 48px;
    background-position: center;
    background-repeat: no-repeat;

    box-shadow: #635d51 0 0 4px 1px inset;

    cursor: pointer;
    transition: .15s;
}

.controls .button:hover:not(:disabled) {
    background-color: #aaa2;
    background-size: 40px 40px;

    filter: sepia(1);
}

.controls .button:active:not(:disabled) {
    background-size: 48px 48px;
    transition: none;
}

.controls .button:disabled {
    filter: opacity(0.5);
}

.controls .play-button {
    background-image: url('../assets/images/gui/play.png');
}

.controls .stop-button {
    background-image: url('../assets/images/gui/stop.png');
}

.controls .next-level-button {
    background-image: url('../assets/images/gui/next-level.png');
}
