@import 'world-border.css';

:root, body, html {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

.game {
    width: 100%;
    height: 100%;
}

.world-container {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('../assets/images/background.png');
}

.world {
    position: relative;
    width: 320px;
    height: 320px;
}

.terrain {

}

.objects {

}

.grid-tile {
    position: absolute;
    width: 64px;
    height: 64px;

    background-image: url('../assets/images/grass.png');
    background-clip: border-box;

    image-rendering: pixelated;
}

.terrain-tile {
    background-size: 512px 256px;
}

.object-tile {

}
