:root, body, html {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

.game {
    width: 100%;
    height: 100%;
}

.world-container {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.world {
    position: relative;
    width: 320px;
    height: 320px;
}

.terrain {

}

.objects {

}

.grid-item {
    position: absolute;
    width: 64px;
    height: 64px;

    background-image: url('../assets/images/grass.png');
    background-clip: border-box;
    background-size: 200%;

    border: 1px solid rgba(0, 0, 0, 0.1);

    image-rendering: pixelated;
}
