
.status-bar {
    display: flex;
    align-items: stretch;

    height: 48px;

    background-image: url('../assets/images/gui/sidebar.png');

    border: 1px solid #56341f;
    border-top: none;
    border-right: none;
    border-bottom-left-radius: 8px;

    box-shadow: #635d51 4px -4px 4px -4px inset;
}

.status-bar > *:not(:last-child) {
    border-right: 1px solid #56341f;
}

.sound-controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 4px;

    padding: 0 4px;
}

.sound-controls input {
    width: 80px;
    border-radius: 5px;

    -webkit-appearance: none;
    cursor: pointer;
}

input[type='range']::-webkit-slider-thumb {
    width: 11px;
    height: 11px;

    background: #434343;
    border-radius: 5px;

    -webkit-appearance: none;
}

input[type='range']::-webkit-slider-runnable-track {
    height: 8px;
    margin-top: -4px;

    border-radius: 4px;
    color: #13bba4;

    -webkit-appearance: none;
}

.score {
    width: 64px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0;
}

.score-number {
    font-size: 24px;
    font-weight: 500;
}

.score-title {
    margin-top: -4px;

    font-size: 14px;
    font-weight: 500;
}
