
.world {
    position: relative;
    width: 320px;
    height: 320px;
}

.terrain {

}

.objects {

}

.grid-tile {
    position: absolute;
    width: 64px;
    height: 64px;

    background-clip: border-box;
    background-origin: border-box;

    image-rendering: pixelated;
}

.terrain-tile {
    border: 1px solid #0002;

    background-image: url('../assets/images/grass.png');
    background-size: 512px 256px;
}

.object-tile {
    transition: .4s;

    z-index: 1000;
}

.object-tile.destroyed {
    animation: destroying 1s;
}

.selection-tile {
    border: 1px solid #fff4;
    box-shadow: #fffb 0 0 2px 0;

    z-index: 10000;
    pointer-events: none;
}

@keyframes destroying {
    from {
        z-index: 2000;
    }
    20% {
        opacity: 1;
        transform: none;
    }
    to {
        opacity: 0;
        transform: rotateZ(360deg) scale(1.5);
    }
}



.world.playing .object-tile.player {
    transform-origin: 32px 60px;
    animation: walking .8s infinite;
    image-rendering: auto;
}

@keyframes walking {
    from {
        transform: scaleY(1) rotateZ(0);
    }
    25% {
        transform: scaleY(0.9) rotateZ(-5deg) translate(-1px, 1px);
    }
    50% {
        transform: scaleY(1) rotateZ(0);
    }
    75% {
        transform: scaleY(0.9) rotateZ(5deg) translate(1px, 1px);
    }
    to {
        transform: scaleY(1) rotateZ(0);
    }
}
